
.green-background {
    background: rgb(66,107,105);
background: linear-gradient(0deg, rgba(66,107,105,1) 0%, rgba(255,255,255,0.5326505602240896) 100%);
}

.top-bg {
    background: rgb(185,168,18);
background: linear-gradient(308deg, rgba(185,168,18,0.5578606442577031) 0%, rgba(66,107,105,0.5494572829131652) 30%, rgba(255,255,255,0.7931547619047619) 76%);
}

.yellow-bg {
    background: rgb(185,168,18);
background: linear-gradient(180deg, rgba(185,168,18,0.3785889355742297) 0%, rgba(255,255,255,0.5326505602240896) 76%);
}

.radial-green{
    background: rgb(66,107,105);
    background: radial-gradient(circle, rgba(66,107,105,0.3925945378151261) 4%, rgba(255,255,255,0.7931547619047619) 76%);
}

.radial-grey{
    background: rgb(211,212,217);
background: radial-gradient(circle, rgba(211,212,217,0.5858718487394958) 4%, rgba(255,255,255,0.7931547619047619) 76%);
}

.footer{
    background: rgb(211,212,217);
    background: linear-gradient(180deg, rgba(211,212,217,0.6615021008403361) 15%, rgba(255,255,255,1) 100%);
}